@{
    ViewBag.Title = "Home Page";

    string str = "算法测试";

    // AES
    Librame.Security.KeyIvInfo aesKeyIvInfo;
    string aesStr = str.AsAes(out aesKeyIvInfo);
    // DES
    Librame.Security.KeyIvInfo desKeyIvInfo;
    string desStr = str.AsDes(out desKeyIvInfo);
    // 3DES
    Librame.Security.KeyIvInfo tdesKeyIvInfo;
    string tdesStr = str.As3Des(out tdesKeyIvInfo);

    // HMAC
    Librame.Security.KeyInfo keyInfo;
    string hmacStr = str.AsHmacSha256(out keyInfo);

    // Base64
    string base64 = str.AsBase64();

    // Password
    string pass = str.AsPassword();
}
<h3 style="font-family:Verdana;">Librame v5.0.2</h3>
<h4 style="font-family:Verdana;">Support ASP.NET vNext (MVC 6 + EntityFramework 7 + Kendo UI)</h4>

<h3>测试字符串：@str</h3>

<h3>AES 对称算法</h3>
<p>
    AES：@aesStr (Length: @aesStr.Length)
    <br />
    还原: @aesStr.FromAes(aesKeyIvInfo)
    <br />
    Key: @aesKeyIvInfo.KeyString
    <br />
    IV:  @aesKeyIvInfo.IvString
</p>

<h3>DES 对称算法</h3>
<p>
    DES：@desStr (Length: @desStr.Length)
    <br />
    还原: @desStr.FromDes(desKeyIvInfo)
    <br />
    Key: @desKeyIvInfo.KeyString
    <br />
    IV:  @desKeyIvInfo.IvString
</p>

<h3>3DES 对称算法</h3>
<p>
    3DES：@tdesStr (Length: @tdesStr.Length)
    <br />
    还原: @tdesStr.From3Des(tdesKeyIvInfo)
    <br />
    Key: @tdesKeyIvInfo.KeyString
    <br />
    IV:  @tdesKeyIvInfo.IvString
</p>

<h3>HMAC 消息验证算法</h3>
<p>
    HMAC SHA256：@hmacStr (Length: @hmacStr.Length)
    <br />
    验证有效: @hmacStr.IsHmacSha256(str, keyInfo)
    <br />
    Key: @keyInfo.KeyString
</p>

<h3>哈希算法</h3>
<p>
    MD5：@str.AsMd5()
    <br />
    SHA1：@str.AsSha1()
    <br />
    SHA256：@str.AsSha256()
    <br />
    SHA384：@str.AsSha384()
    <br />
    SHA512：@str.AsSha512()
</p>

<h3>BASE64 算法</h3>
<p>
    BASE64：@base64 (Length: @base64.Length)
    <br />
    还原: @base64.FromBase64()
</p>

<h3>密码算法</h3>
<p>
    Password：@pass (Length: @pass.Length)
    <br />
    验证有效: @pass.IsPassword(str)
</p>

<a href="~/ui/list.html">测试数据列表</a>