@page
@model IndexPageModel
@inject IExpressionHtmlLocalizer<IndexViewResource> Localizer
@{
    Layout = "_LayoutByManage";
    ViewData["Title"] = Localizer[r => r.Title];
}

<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessagePartial" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email) ..." />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email) ..." />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">@Localizer[r => r.SendButtonText]</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Age"></label>
                <input asp-for="Input.Age" class="form-control" />
            </div>
            
            <button type="submit" class="btn btn-default">@Localizer[r => r.ButtonText]</button>
        </form>
    </div>
</div>
