@model SetPasswordViewModel
@inject IExpressionHtmlLocalizer<SetPasswordViewResource> Localizer
@{
    ViewData["Title"] = "Set Password";
    var registerLocalizer = ViewBag.RegisterLocalizer as IExpressionHtmlLocalizer<RegisterViewResource>;
}

<!-- SetPassword -->
<h4>@ViewData["Title"]</h4>

<p class="text-info">
    @Localizer[r => r.Descr]
</p>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.NewPassword) ..."
                       title="@registerLocalizer[r => r.PasswordRulePrompts]"
                       data-content="@Html.Raw(ViewBag.BuilderOptions.PasswordRulePromptEnabled ? PasswordRulePromptHelper.GetHtmlContent(ViewBag.Options, registerLocalizer) : string.Empty)"
                       data-html="true"
                       data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword) ..." />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">@Localizer[r => r.ButtonText]</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    </script>
}