@model RegisterViewModel
@inject IExpressionHtmlLocalizer<RegisterViewResource> Localizer
@{
    ViewData["Title"] = Localizer[r => r.Title];
}
<!-- Register -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>@ViewData["Title"]</h3>
                <p>@Localizer[r => r.Descr]</p>
            </div>
            <div class="form-top-right">
                <!-- <i class="fa fa-key"></i> -->
            </div>
        </div>

        <div class="form-bottom">
            <form method="post" class="login-form" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="sr-only"></label>
                    <input asp-for="Email" class="form-username form-control" placeholder="@Html.DisplayNameFor(m => m.Email) ..." />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="sr-only"></label>
                    <input asp-for="Password" class="form-password form-control" placeholder="@Html.DisplayNameFor(m => m.Password) ..." />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="sr-only"></label>
                    <input asp-for="ConfirmPassword" class="form-password form-control" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword) ..." />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">@Localizer[r => r.ButtonText]</button>
                </div>

                <div class="form-group">
                    <p>
                        <a id="login" asp-page="./Login">
                            @Localizer[r => r.Login]
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
