@using Microsoft.AspNetCore.Authentication
@using System.Collections.Generic
@model LoginViewModel
@inject IHtmlLocalizer<LoginViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
    var loginProviders = ViewData["ExternalSchemes"] as IEnumerable<AuthenticationScheme>;
    var registerLocalizer = ViewBag.Localizer as IHtmlLocalizer<RegisterViewResource>;
}
<!-- Login -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>@ViewData["Title"]</h3>
                <p>@Localizer.GetString(r => r.Descr)</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-key"></i>
            </div>
        </div>

        <div class="form-bottom">
            <form id="account" method="post" class="login-form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]"
                  asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                  asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="sr-only"></label>
                    <input asp-for="Email" class="form-username form-control" placeholder="@Html.DisplayNameFor(m => m.Email) ..." />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="sr-only"></label>
                    <input asp-for="Password" class="form-password form-control" placeholder="@Html.DisplayNameFor(m => m.Password) ..."
                           title="@registerLocalizer.GetString(r => r.PasswordRulePrompts)"
                           data-content="@Html.Raw(ViewBag.BuilderOptions.PasswordRulePromptEnabled ? PasswordRulePromptHelper.GetHtmlContent(ViewBag.Options, registerLocalizer) : string.Empty)"
                           data-html="true"
                           data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)?
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">@Localizer.GetString(r => r.ButtonText)</button>
                </div>

                <div class="form-group overflow-hidden">
                    <div class="col-sm-6">
                        <p>
                            <a asp-action="ForgotPassword"
                               asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                               asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                                @Localizer.GetString(r => r.ForgotPassword)
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>
                            <a asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]"
                               asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                               asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                                @Localizer.GetString(r => r.RegisterUser)
                            </a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 social-login">
        <!-- <h3>Localizer.GetString(r => r.ExternalLoginDescr]</h3> -->
        <div class="social-login-buttons">
            @{
                if (loginProviders.IsEmpty())
                {
                    <div>
                        <p>
                            <!--Localizer.GetString(r => r.ExternalLoginInfo]-->
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" method="post" class="form-horizontal" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@ViewData["ReturnUrl"]"
                          asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                          asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="@Localizer.GetString(r => r.ExternalLoginTitle, provider.DisplayName)">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    </script>
}