@model ResetPasswordViewModel
@inject IHtmlLocalizer<ResetPasswordViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
    var registerLocalizer = ViewBag.RegisterLocalizer as IHtmlLocalizer<RegisterViewResource>;
}
<!-- ResetPassword -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>@ViewData["Title"]</h3>
                <p>@Localizer.GetString(r => r.Descr)</p>
            </div>
            <div class="form-top-right">
                <!-- <i class="fa fa-key"></i> -->
            </div>
        </div>

        <div class="form-bottom">
            <form method="post" class="login-form" asp-controller="Account" asp-action="ResetPassword"
                  asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                  asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">

                <div asp-validation-summary="All" class="text-danger"></div>

                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email" class="sr-only"></label>
                    <input asp-for="Email" class="form-username form-control" placeholder="@Html.DisplayNameFor(m => m.Email) ..." />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="sr-only"></label>
                    <input asp-for="Password" class="form-password form-control" placeholder="@Html.DisplayNameFor(m => m.Password) ..."
                           title="@registerLocalizer.GetString(r => r.PasswordRulePrompts)"
                           data-content="@Html.Raw(ViewBag.BuilderOptions.PasswordRulePromptEnabled ? PasswordRulePromptHelper.GetHtmlContent(ViewBag.Options, registerLocalizer) : string.Empty)"
                           data-html="true"
                           data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="sr-only"></label>
                    <input asp-for="ConfirmPassword" class="form-password form-control" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword) ..." />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">@Localizer.GetString(r => r.ButtonText)</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    </script>
}