@model SendCodeViewModel
@{
    var localizer = ViewBag.Localizer as IHtmlLocalizer<SendCodeViewResource>;
    ViewData["Title"] = localizer.GetString(r => r.Title);
}
<!-- SendCode -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="form-top-right">
                <!-- <i class="fa fa-key"></i> -->
            </div>
        </div>

        <div class="form-bottom">
            <form method="post" class="login-form" asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl"
                  asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                  asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="SelectedProvider" class="sr-only">@localizer.GetString(r => r.SelectedProvider)</label>
                    <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">@localizer.GetString(r => r.ButtonText)</button>
                </div>
            </form>
        </div>
    </div>
</div>
