@model LoginViewModel
@inject IHtmlLocalizer<LoginViewResource> Localizer
@inject IHtmlLocalizer<ErrorMessageResource> ErrorLocalizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
}

<div class="login-page">
    <div class="page-header">
        <h1>@Localizer.GetString(r => r.Title)</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Localizer.GetString(r => r.LocalLogin)</h3>
                    </div>
                    <div class="panel-body">

                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="Email" class="sr-only"></label>
                                    <input asp-for="Email" class="form-username form-control" placeholder="@Html.DisplayNameFor(m => m.Email) ..." />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="sr-only"></label>
                                    <input asp-for="Password" class="form-password form-control" placeholder="@Html.DisplayNameFor(m => m.Password) ..." />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember">
                                        <label asp-for="RememberLogin">
                                            <input asp-for="RememberLogin">
                                            <strong>@Html.DisplayNameFor(m => m.RememberLogin)</strong>
                                        </label>
                                    </div>
                                }

                                <div class="form-group">
                                    <button class="btn btn-primary" name="button" value="login">@Localizer.GetString(r => r.ButtonText)</button>
                                    <button class="btn btn-default" name="button" value="cancel">@Localizer.GetString(r => r.CancelButton)</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-6 col-sm-6 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Localizer.GetString(r => r.ExternalLogin)</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                        asp-controller="External"
                                        asp-action="Challenge"
                                        asp-route-provider="@provider.AuthenticationScheme"
                                        asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>@ErrorLocalizer.GetString(r => r.InvalidLoginAttempt)</strong>
                @Localizer.GetString(r => r.NoLoginSchemesConfigured)
            </div>
        }
    </div>
</div>