@model IApplicationContext
@{
    var navs = Model.Navigations.GetManageFooterNavigation();
    var uiInfo = Model.Uis[ViewContext.RouteData.AsRouteDescriptor()?.Area];
}
<nav class="pull-left">
    <ul class="nav">
        @if (navs.IsNotNullOrEmpty())
        {
            foreach (var nav in navs)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@nav.Href" title="@nav.Title" @nav.Target>
                        @nav.Text
                    </a>
                </li>
            }
        }
    </ul>
</nav>
<div class="copyright ml-auto">
    &copy; @DateTime.Now.ToString("yyyy") - @uiInfo?.Copyright [@uiInfo?.Version]
</div>
