@page
@model ChangePasswordPageModel
@inject IExpressionHtmlLocalizer<ChangePasswordViewResource> Localizer
@inject IExpressionHtmlLocalizer<RegisterViewResource> RegisterLocalizer
@{
    ViewData["Title"] = Localizer[r => r.Title];

    var prompts = new System.Text.StringBuilder();
    if (Model.BuilderOptions.PasswordRulePromptEnabled)
    {
        prompts.Append(RegisterLocalizer[r => r.PasswordRequiredLength].Value);
        prompts.Append("<hr/>");
        prompts.Append(RegisterLocalizer[r => r.PasswordRequiredUniqueChars].Value);

        if (Model.Options.Password.RequireNonAlphanumeric)
        {
            prompts.Append("<hr/>");
            prompts.Append(RegisterLocalizer[r => r.PasswordRequireNonAlphanumeric].Value);
        }

        if (Model.Options.Password.RequireLowercase)
        {
            prompts.Append("<hr/>");
            prompts.Append(RegisterLocalizer[r => r.PasswordRequireLowercase].Value);
        }

        if (Model.Options.Password.RequireLowercase)
        {
            prompts.Append("<hr/>");
            prompts.Append(RegisterLocalizer[r => r.PasswordRequireUppercase].Value);
        }

        if (Model.Options.Password.RequireLowercase)
        {
            prompts.Append("<hr/>");
            prompts.Append(RegisterLocalizer[r => r.PasswordRequireDigit].Value);
        }
    }
}

<!-- ChangePassword -->
<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessagePartial" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.OldPassword) ..." />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.NewPassword) ..."
                           title="@RegisterLocalizer[r => r.PasswordRulePrompts]"
                           data-content="@Html.Raw(prompts.ToString())" data-html="true"
                           data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.ConfirmPassword) ..." />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">@Localizer[r => r.ButtonText]</button>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    </script>
}