@page
@model PersonalDataPageModel
@inject IExpressionHtmlLocalizer<PersonalDataViewResource> Localizer
@{
    ViewData["Title"] = Localizer[r => r.Title];
}

<!-- PersonalData -->
<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@Localizer[r => r.Info]</p>
        <p>
            <strong>@Localizer[r => r.Descr]</strong>
        </p>

        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">@Localizer[r => r.DownloadButtonText]</button>
        </form>

        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-default">@Localizer[r => r.ButtonText]</a>
        </p>
    </div>
</div>
