@page
@model PersonalDataPageModel
@inject IHtmlLocalizer<PersonalDataViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
}

<!-- PersonalData -->
<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@Localizer.GetString(r => r.Info)</p>
        <p>
            <strong>@Localizer.GetString(r => r.Descr)</strong>
        </p>

        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <div class="form-group">
                <button type="submit" class="btn btn-default">@Localizer.GetString(r => r.DownloadButtonText)</button>
            </div>
        </form>

        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-default">@Localizer.GetString(r => r.ButtonText)</a>
        </p>
    </div>
</div>
