@page
@model ShowRecoveryCodesPageModel
@inject IHtmlLocalizer<ShowRecoveryCodesViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
    ViewData["ActiveView"] = ViewPageNames.TwoFactorAuthentication;
}

<partial name="_StatusMessagePartial" model="Model.StatusMessage" />

<!-- ShowRecoveryCodes -->
<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer.GetString(r => r.Descr)</strong>
    </p>
    <p>
        @Localizer.GetString(r => r.Info)
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
