@model IApplicationContext
@{
    var sitemap = Model.CurrentInterfaceInfo.Sitemap;
}
@if (Model.Principal.IsSignedIn(Context))
{
    if (sitemap.Logout.Route.IsMvc)
    {
        <form asp-controller="@sitemap.Logout.Route.Controller" asp-action="@sitemap.Logout.Route.Action" asp-area="@sitemap.Logout.Route.Area" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@sitemap.Manage.ToRouteString(Url)" title="@sitemap.Manage.Text">Hello @Model.Principal.GetSignedUserName(Context)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">@sitemap.Logout.Text</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <form asp-page="@sitemap.Logout.Route" asp-area="@sitemap.Logout.Route.Area" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@sitemap.Manage.Route" title="@sitemap.Manage.Text">Hello @Model.Principal.GetSignedUserName(Context)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">@sitemap.Logout.Text</button>
                </li>
            </ul>
        </form>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@sitemap.Register.Route">@sitemap.Register.Text</a></li>
        <li><a href="@sitemap.Login.Route">@sitemap.Login.Text</a></li>
    </ul>
}