@model IApplicationContext
@{
    var sitemap = Model.CurrentInterfaceInfo.Sitemap;
}
@if (Model.Principal.IsSignedIn(Context))
{
    <form asp-page="@sitemap.Logout.Href" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@sitemap.Manage.Href" title="@sitemap.Manage.Text">Hello @Model.Principal.GetSignedUserName(Context)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@sitemap.Logout.Text</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@sitemap.Register.Href">@sitemap.Register.Text</a></li>
        <li><a href="@sitemap.Login.Href">@sitemap.Login.Text</a></li>
    </ul>
}