@page
@model ResetPasswordPageModel
@inject IExpressionHtmlLocalizer<ResetPasswordViewResource> Localizer
@{
    ViewData["Title"] = Localizer[r => r.Title];
}
<!-- Register -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>@ViewData["Title"]</h3>
                <p>@Localizer[r => r.Descr]</p>
            </div>
            <div class="form-top-right">
                <!-- <i class="fa fa-key"></i> -->
            </div>
        </div>

        <div class="form-bottom">
            <form method="post" class="login-form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Email" class="sr-only"></label>
                    <input asp-for="Input.Email" class="form-username form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email) ..." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="sr-only"></label>
                    <input asp-for="Input.Password" class="form-password form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Password) ..."
                           title="@Model.RegisterLocalizer[r => r.PasswordRulePrompts]"
                           data-content="@Html.Raw(Model.BuilderOptions.PasswordRulePromptEnabled ? PasswordRulePromptHelper.GetHtmlContent(Model.Options, Model.RegisterLocalizer) : string.Empty)"
                           data-html="true"
                           data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="sr-only"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-password form-control" placeholder="@Html.DisplayNameFor(m => m.Input.ConfirmPassword) ..." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">@Localizer[r => r.ButtonText]</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    </script>
}