@inject IApplicationContext Application
@{
    Application.SetCurrentInterfaceInfo(ViewContext.RouteData.AsRouteDescriptor()?.Area);
    var sitemap = Application.CurrentInterfaceInfo.Sitemap;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Application.CurrentInterfaceInfo.Name</title>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">@Application.CurrentInterfaceInfo.Name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@sitemap.Index.ToRouteString(Url)">@sitemap.Index.Text</a></li>
                    @if (sitemap.CommonHeader.IsNotEmpty())
                    {
                        foreach (var nav in sitemap.CommonHeader)
                        {
                            <li><a href="@nav.ToRouteString(Url)">@nav.Text</a></li>
                        }
                    }
                </ul>
                @await Html.PartialAsync("Common/_LoginPartial", Application).ConfigureAndResultAsync()
            </div>
        </div>
    </div>

    <partial name="Common/_CookieConsentPartial" model="Application" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @Html.Raw(Application.GetFooterCopyrightInfo())
        </footer>
    </div>

    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
