@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using System.Globalization
@inject IOptions<RequestLocalizationOptions> Options
@model IApplicationContext

@if (Options.Value.SupportedCultures.IsNotEmpty())
{
    var otherCultures = Options.Value.SupportedCultures.Except(CultureInfo.CurrentCulture.YieldEnumerable()).ToList();

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                <span>@CultureInfo.CurrentCulture.DisplayName</span>
            </a>

            @if (otherCultures.IsNotEmpty())
            {
                <ul class="dropdown-menu dropdown-user">
                    @foreach (var culture in otherCultures)
                    {
                    <li>
                        @if (Options.Value.DefaultRequestCulture?.Culture.Name == culture.Name)
                        {
                            <a class="dropdown-item" href="@ViewContext.HttpContext.Request.Path.Value">
                                <i class="ti-user"></i> @culture.DisplayName
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-item" asp-route-culture="@culture.Name" asp-route-uiculture="@culture.Name">
                                <i class="ti-user"></i> @culture.DisplayName
                            </a>
                        }
                    </li>
                    }
                </ul>
            }
        </li>
    </ul>
}