@model IApplicationContext
@{
    var nav = Model.CurrentProject.IdentityNavigation;
}

@if (Model.Principal.IsSignedIn(Context))
{
    // 因 MVC 安全机制，注销窗体必须使用路由模式
    nav.Logout.Route.NotNull(nameof(nav.Logout.Route));

    if (nav.Logout.Route is ActionRouteDescriptor actionRoute)
    {
        <form asp-controller="@actionRoute.Controller" asp-action="@actionRoute.Action" asp-area="@actionRoute.Area" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@nav.Manage.GenerateLink(Url)" title="@nav.Manage.GetLocalizedText()">Hello @Model.Principal.GetSignedUserName(Context)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">@nav.Logout.GetLocalizedHtmlText()</button>
                </li>
            </ul>
        </form>
    }
    else if (nav.Logout.Route is PageRouteDescriptor pageRoute)
    {
        <form asp-page="@pageRoute.Page" asp-area="@pageRoute.Area" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@nav.Manage.GenerateLink(Url)" title="@nav.Manage.GetLocalizedText()">Hello @Model.Principal.GetSignedUserName(Context)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">@nav.Logout.GetLocalizedHtmlText()</button>
                </li>
            </ul>
        </form>
    }
    else
    {
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@nav.Register.GenerateLink(Url)">@nav.Register.GetLocalizedHtmlText()</a></li>
        <li><a href="@nav.Login.GenerateLink(Url)">@nav.Login.GetLocalizedHtmlText()</a></li>
    </ul>
}