@page
@model ExternalLoginPageModel
@inject IHtmlLocalizer<ExternalLoginViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
}
<!-- ExternalLogin -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>@Localizer.GetString(r => r.Title, Model.ProviderDisplayName)</h3>
                <p>@Localizer.GetString(r => r.Descr, Model.ProviderDisplayName)</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-key"></i>
            </div>
        </div>

        <div class="form-bottom">
            <form method="post" class="login-form" asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl"
                  asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                  asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Input.Email" class="sr-only"></label>
                    <input asp-for="Input.Email" class="form-username form-control" placeholder="@Localizer.GetString(r => r.Email) ..." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">@Localizer.GetString(r => r.ButtonText)</button>
                </div>

                <div class="form-group">
                    <p>
                        @Localizer.GetString(r => r.Info, Model.ProviderDisplayName, Localizer.GetString(r => r.ButtonText)?.Value)
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
