@model IApplicationContext
@{
    var sitemap = Model.CurrentInterfaceInfo.Sitemap;
}
<nav class="pull-left">
    <ul class="nav">
        @if (sitemap.ManageFootbar.IsNotNullOrEmpty())
        {
            foreach (var nav in sitemap.ManageFootbar)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@nav.ToRouteString(Url)" title="@nav.Title" @nav.Target>
                        @nav.Text
                    </a>
                </li>
            }
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" href="#" title="暂无菜单">
                    暂无菜单
                </a>
            </li>
        }
    </ul>
</nav>
<div class="copyright ml-auto">
    @Html.Raw(Model.GetFooterCopyrightInfo())
</div>
