@model IApplicationContext

@if (Model.Principal.IsSignedIn(Context))
{
    var sitemap = Model.CurrentInterfaceInfo.Sitemap;
    var userName = Model.Principal.GetSignedUserName(Context);
    var email = Model.Principal.GetSignedUserEmail(Context);
    var portrait = Model.Principal.GetSignedUserPortrait(Context);

    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
        <li class="nav-item dropdown">
            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                <img src="@portrait" alt="@userName" width="36" class="img-circle"><span>@userName</span>
            </a>

            <ul class="dropdown-menu dropdown-user">
                <li>
                    <div class="user-box">
                        <div class="u-img"><img src="@portrait" alt="@userName"></div>
                        <div class="u-text">
                            <h4>@userName</h4>
                            <p class="text-muted">@email</p>
                        </div>
                    </div>
                </li>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="@sitemap.Manage.Href">
                    <i class="ti-user"></i> @sitemap.Manage.Text
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-page="@sitemap.Logout.Href" asp-route-returnUrl="@Context.Request.Path">
                    <i class="fa fa-power-off"></i> @sitemap.Logout.Text
                </a>
            </ul>
        </li>
    </ul>
}
