@model IApplicationContext
@{
    var sitemap = Model.CurrentInterfaceInfo.Sitemap;
}
<ul class="nav">
    @if (sitemap.ManageSidebar.IsNotNullOrEmpty())
    {
        foreach (var nav in sitemap.ManageSidebar)
        {
            if ((nav.VisibilityFactory?.Invoke(this, nav)).Value)
            {
                <li class="nav-item @nav.ActiveCssClassNameFactory?.Invoke(this, nav)">
                    <a id="@nav.Id" href="@nav.ToRouteString(Url)" title="@nav.Title">
                        <i class="@nav.Icon"></i>
                        <p>@nav.Text</p>
                    </a>
                </li>
            }
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="#" title="暂无菜单">
                暂无菜单
            </a>
        </li>
    }
</ul>
