@page
@model IndexPageModel
@inject IHtmlLocalizer<IndexViewResource> Localizer
@{
    Layout = ViewContext.GetCurrentThemepackManageLayoutPath();
    ViewData["Title"] = Localizer.GetString(r => r.Title);
}

<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessagePartial" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form method="post"
              asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
              asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email) ..." />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email) ..." />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">@Localizer.GetString(r => r.SendButtonText)</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">@Localizer.GetString(r => r.ButtonText)</button>
            </div>
        </form>

        <div class="form-group">
            <h5>@Localizer.GetString(r => r.Password)</h5>

            @if (Model.Profile.HasPassword)
            {
                <text>
                    [&nbsp;&nbsp;
                    <a asp-page="./ChangePassword"
                       asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                       asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                        @Localizer.GetString(r => r.ChangePassword)
                    </a>
                    &nbsp;&nbsp;]
                </text>
            }
            else
            {
                <text>
                    [&nbsp;&nbsp;
                    <a asp-page="./SetPassword"
                       asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                       asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                        @Localizer.GetString(r => r.SetPassword)
                    </a>
                    &nbsp;&nbsp;]
                </text>
            }
        </div>

        <div class="form-group">
            <h5>@Localizer.GetString(r => r.ExternalLogins)</h5>

            @Model.Profile.Logins.Count
            [&nbsp;&nbsp;
            <a asp-page="./ExternalLogins"
               asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
               asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                @Localizer.GetString(r => r.ManageLogins)
            </a>
            &nbsp;&nbsp;]
        </div>

        <div class="form-group">
            <h5>@Localizer.GetString(r => r.PhoneNumber)</h5>

            <!--<p>
                Phone Numbers can used as a second factor of verification in two-factor authentication.
                See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
            </p>-->
            @(Model.Profile.PhoneNumber ?? Localizer.GetString(r => r.NonePhoneNumber).Value)
            @if (Model.Profile.PhoneNumber != null)
            {
                <br />
                <text>
                    [&nbsp;&nbsp;
                    <a asp-page="./AddPhoneNumber"
                       asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                       asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                        @Localizer.GetString(r => r.ChangePhoneNumber)
                    </a>
                    &nbsp;&nbsp;]
                </text>

                <form method="post" role="form" asp-page-handler="RemovePhoneNumber"
                      asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                      asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                    [<button type="submit" class="btn-link">@Localizer.GetString(r => r.RemovePhoneNumber)</button>]
                </form>
            }
            else
            {
                <text>
                    [&nbsp;&nbsp;
                    <a asp-page="./AddPhoneNumber"
                       asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                       asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                        @Localizer.GetString(r => r.AddPhoneNumber)
                    </a>
                    &nbsp;&nbsp;]
                </text>
            }
        </div>

        <div class="form-group">
            <h5>@Localizer.GetString(r => r.TwoFactorAuthentication)</h5>

            <!--<p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>-->
            @if (Model.Profile.TwoFactor)
            {
                <form method="post" class="form-horizontal" role="form" asp-page="./Disable2fa"
                      asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                      asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                    @Localizer.GetString(r => r.EnableTwoFactor) [<button type="submit" class="btn-link">@Localizer.GetString(r => r.DisableTwoFactor)</button>]
                </form>
            }
            else
            {
                <form method="post" class="form-horizontal" role="form" asp-page-handler="EnableTwoFactorAuthentication"
                      asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                      asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                    [<button type="submit" class="btn-link">@Localizer.GetString(r => r.EnableTwoFactor)</button>] @Localizer.GetString(r => r.DisableTwoFactor)
                </form>
            }
        </div>

        <div class="form-group">
            <h5>@Localizer.GetString(r => r.AuthenticationApp)</h5>

            @if (Model.Profile.AuthenticatorKey == null)
            {
                <form method="post" class="form-horizontal" role="form" asp-page-handler="ResetAuthenticatorKey"
                      asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                      asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                    [<button type="submit" class="btn-link">@Localizer.GetString(r => r.ResetAuthenticatorKey)</button>]
                </form>
            }
            else
            {
                <text>@Localizer.GetString(r => r.YourKeyIs) @Model.Profile.AuthenticatorKey</text>
                <form method="post" class="form-horizontal" role="form" asp-page="./GenerateRecoveryCodes"
                      asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                      asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                    [<button type="submit" class="btn-link">@Localizer.GetString(r => r.GenerateRecoveryCode)</button>]
                </form>
            }
        </div>

    </div>
</div>
