@page
@model PersonalDataPageModel
@inject IHtmlLocalizer<PersonalDataViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
}

<!-- PersonalData -->
<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-10">
        <p>@Localizer.GetString(r => r.Info)</p>
        <p>
            <strong>@Localizer.GetString(r => r.Descr)</strong>
        </p>

        <form id="download-data" method="post" class="form-group" asp-page="DownloadPersonalData"
              asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
              asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
            <div class="form-group">
                <button type="submit" class="btn btn-default">@Localizer.GetString(r => r.DownloadButtonText)</button>
            </div>
        </form>

        <p>
            <a id="delete" class="btn btn-default" asp-page="DeletePersonalData"
               asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
               asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                @Localizer.GetString(r => r.ButtonText)
            </a>
        </p>
    </div>
</div>
