@page
@model ResetAuthenticatorPageModel
@inject IHtmlLocalizer<ResetAuthenticatorViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
    ViewData["ActiveView"] = ViewPageNames.TwoFactorAuthentication;
}

<partial name="_StatusMessagePartial" model="Model.StatusMessage" />

<!-- ResetAuthenticator -->
<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <span data-notify="icon" class="la la-bell"></span>
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer.GetString(r => r.Descr)</strong>
    </p>
    <p>
        @Localizer.GetString(r => r.Info)
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <form id="reset-authenticator-form" method="post" class="form-group"
              asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
              asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
            <div class="form-group">
                <button id="reset-authenticator-button" type="submit" class="btn btn-default">@Localizer.GetString(r => r.ButtonText)</button>
            </div>
        </form>
    </div>
</div>