@page
@model SetPasswordPageModel
@inject IHtmlLocalizer<SetPasswordViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
    ViewData["ActiveView"] = ViewPageNames.ChangePassword;
}

<!-- SetPassword -->
<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessagePartial" model="Model.StatusMessage" />

<p class="text-info">
    @Localizer.GetString(r => r.Descr)
</p>

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.NewPassword) ..."
                       title="@Model.RegisterLocalizer.GetString(r => r.PasswordRulePrompts)"
                       data-content="@Html.Raw(Model.BuilderOptions.PasswordRulePromptEnabled ? PasswordRulePromptHelper.GetHtmlContent(Model.Options, Model.RegisterLocalizer) : string.Empty)"
                       data-html="true"
                       data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.ConfirmPassword) ..." />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">@Localizer.GetString(r => r.ButtonText)</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    </script>
}