@page
@model TwoFactorAuthenticationPageModel
@inject IHtmlLocalizer<TwoFactorAuthenticationViewResource> Localizer
@{
    ViewData["Title"] = Localizer.GetString(r => r.Title);
}

<partial name="_StatusMessagePartial" model="Model.StatusMessage" />

<!-- TwoFactorAuthentication -->
<h4>@ViewData["Title"]</h4>

@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>@Localizer.GetString(r => r.RecoveryCodesLeft0Title)</strong>
            <p>@Localizer.GetString(r => r.RecoveryCodesLeft0Info)</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>@Localizer.GetString(r => r.RecoveryCodesLeft1Title)</strong>
            <p>@Localizer.GetString(r => r.RecoveryCodesLeft1Info)</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>@Localizer.GetString(r => r.RecoveryCodesLeftFewTitle, Model.RecoveryCodesLeft)</strong>
            <p>@Localizer.GetString(r => r.RecoveryCodesLeftFewInfo)</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <div class="row">
            <div class="col-md-10">
                <form method="post" style="display: inline-block"
                      asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
                      asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">@Localizer.GetString(r => r.ButtonText)</button>
                    </div>
                </form>
            </div>
        </div>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">@Localizer.GetString(r => r.Disable2fa)</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">@Localizer.GetString(r => r.GenerateRecoveryCodes)</a>
}

<p />

<h4>@Localizer.GetString(r => r.AuthenticatorApp)</h4>

@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" class="btn btn-default" asp-page="./EnableAuthenticator"
       asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
       asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
        @Localizer.GetString(r => r.AddAuthenticatorApp)
    </a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default"
       asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
       asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
        @Localizer.GetString(r => r.SetupAuthenticatorApp)
    </a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default"
       asp-route-culture="@ViewContext.HttpContext.Request.Query["culture"]"
       asp-route-uiculture="@ViewContext.HttpContext.Request.Query["uiculture"]">
        @Localizer.GetString(r => r.ResetAuthenticatorApp)
    </a>
}